<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Layouts 1 </title>
</head>
<body>
    <div class="retangulo"></div>

    <div class="flex">
        <div>
            <div class="flex">
                <div class="quadradinho"></div>
                <div class="quadradao"></div>
            </div>    
            <div class="yo"></div>
            
        </div>
    <div class="quadrado"></div>
    </div>    

</body>
</html>